@import 'normalize';
@import 'buttons';

$off-white: #eff1f2;
$dark-blue: #18425a;
$blue: #3d7da3;
$gray-1: #9bacb6;
$gray-2: #d9dcd6;

@mixin transition($transition...) {
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-delay($delay...) {
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: $dark-blue;

  &.no-scroll {
    overflow: hidden;
  }
}

#content {
  width: 100%;
  background: white;
  overflow: hidden;

  @include transition(transform .01s ease-out);

  &.hidden {
    display: none;
  }
}

.opening-banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: #000d22;
  overflow: hidden;
}

.opening-banner {
  z-index: 1;
  width: 100%;
  height: 100%;
/*  background: url(http://dan.christine.wedding/opening.banner.jpg) no-repeat center center;*/
  background: url(opening.banner.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;

  @include transition(opacity 4s ease-out);
}

.opening-banner.fade-in {
  opacity: 1;
}

.opening-banner-text {
  z-index: 10;
  position: absolute;
  pointer-events: none;
  width: 100%;

  @include transition(transform .01s ease-out);
}

.letter-head {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.letter-head img {
  position: absolute;
}

.wedding-details {
  position: relative;
  width: 100%;
}

.wedding-details-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 124px 0;
  background: white;
}

.wedding-details-wrapper__with-separator:before {
  content: '· · ·';
  position: absolute;
  top: -5px;
  width: 100%;
  color: $off-white;
  font-size: 50pt;
  text-align: center;
  line-height: 0;
}

.wedding-details-heading {
  padding-bottom: 32px;
  font-size: 40pt;
  font-weight: 400;
  text-align: center;

  transform: translateY(50px);
  opacity: 0;

  @include transition(transform .5s ease-out, opacity .5s ease-out);
}

.wedding-details-narrative {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 32px;
  font-size: 14pt;
  font-weight: 300;
  line-height: 20pt;
  text-align: justify;
  opacity: 0;
  transform: translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.5s);
}

.wedding-details-wrapper.visible .wedding-details-narrative {
  opacity: 1;
  transform: translate(0);
}

.wedding-details-wrapper.visible .wedding-details-heading {
  transform: translateY(0);
  opacity: 1;
}

.wedding-details-when {
  display: inline-flex;
  width: 100%;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
}

.when-month {
  min-width: 63px;
  font-size: 20pt;
  font-weight: 300;
  margin-right: 16px;
  opacity: 0;
  transform: translateX(-50px) translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.5s);
}

.when-day {
  font-size: 70pt;
  font-weight: 600;
  color: $blue;
  line-height: 60pt;
  opacity: 0;
  transform: translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.5s);
}

.when-year {
  min-width: 63px;
  font-size: 20pt;
  font-weight: 300;
  margin-left: 20px;
  opacity: 0;
  transform: translateX(50px) translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.5s);
}

.wedding-details-wrapper.visible .when-month,
.wedding-details-wrapper.visible .when-day,
.wedding-details-wrapper.visible .when-year {
  opacity: 1;
  transform: translate(0);
}

.wedding-details-ceremony {
  display: inline-flex;
  width: 100%;
  margin-bottom: 32px;
  padding-left: 8px;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transform: translateY(50px) scale(1.05);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.75s);
}

.wedding-details-wrapper.visible .wedding-details-ceremony {
  opacity: 1;
  transform: translate(0) scale(1);
}

.church-icon {
  height: 100px;
}

.ceremony-content {
  margin-left: -16px;
  width: 480px;
}

.ceremony-details {
  color: $blue;
  font-size: 16pt;
  line-height: 16pt;
}

.ceremony-heading {
  font-size: 32pt;
  line-height: 36pt;
}

.wedding-details-reception {
  display: inline-flex;
  width: 100%;
  margin-bottom: 24px;
  padding-left: 8px;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transform: translateY(50px) scale(1.05);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(1s);
}

.wedding-details-wrapper.visible .wedding-details-reception {
  opacity: 1;
  transform: translate(0) scale(1);
}

.reception-content {
  width: 480px;
}

.reception-details {
  color: $blue;
  font-size: 16pt;
  line-height: 20pt;
}

.reception-heading {
  font-size: 32pt;
  line-height: 32pt;
}

.hotel-icon {
  height: 100px;
  margin-left: -20px;
  margin-right: 4px;
}

.disco-ball-fill .disco {
  fill: #fff;
}

.hotel-icon .star {
  opacity: 0;
}

.hotel-icon .star-4 {
  opacity: 1;
}

.disco.disco-1-1 { fill: $gray-1; }
.disco.disco-1-2 { fill: $gray-2; }
.disco.disco-1-3 { fill: $gray-1; }
.disco.disco-1-2 { fill: $gray-2; }
.disco.disco-1-5 { fill: $gray-1; }

.disco.disco-2-1 { fill: $gray-2; }
.disco.disco-2-2 { fill: $gray-1; }
.disco.disco-2-3 { fill: $gray-2; }
.disco.disco-2-2 { fill: $gray-1; }
.disco.disco-2-5 { fill: $gray-2; }

.disco.disco-3-1 { fill: $gray-1; }
.disco.disco-3-2 { fill: $gray-2; }
.disco.disco-3-3 { fill: $gray-1; }
.disco.disco-3-2 { fill: $gray-2; }
.disco.disco-3-5 { fill: $gray-1; }

.disco.disco-4-1 { fill: $gray-2; }
.disco.disco-4-2 { fill: $gray-1; }
.disco.disco-4-3 { fill: $gray-2; }
.disco.disco-4-2 { fill: $gray-1; }
.disco.disco-4-5 { fill: $gray-2; }

.disco.disco-5-1 { fill: $gray-1; }
.disco.disco-5-2 { fill: $gray-2; }
.disco.disco-5-3 { fill: $gray-1; }
.disco.disco-5-2 { fill: $gray-2; }
.disco.disco-5-5 { fill: $gray-1; }

#gmap {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.85);

  @include transition(transform .5s ease-out, opacity .5s ease-out);
}

#gmap.visible {
  opacity: 1;
  transform: scale(1);
}

.gmap-infowindow {
  font-size: 14pt;
}

.gmap-wrapper {
  position: relative;
  height: 600px;
  @include transition(transform .25s ease-in);
}

.gmap-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;
  opacity: 0;

  @include transition(opacity .25s ease-out);
}

.gmap-wrapper:hover:not(.expanded) {
  transform: translateY(-16px);
}

.gmap-wrapper:hover .gmap-overlay {
  opacity: .5;
  cursor: pointer;
}

.gmap-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  opacity: 0;
  font-size: 64pt;
  text-align: center;
  line-height: 600px;
  letter-spacing: -3pt;
  transform: scale(0.9);

  @include transition(opacity .25s ease-in-out, transform .15s ease-in-out);
}

.gmap-wrapper:hover .gmap-overlay-text {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

.gmap-content {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: white;
  z-index: 2;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.25);
}

.gmap-expanded-close {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 16px auto;
  text-align: center;
}

.gmap-wrapper.expanded {
  height: 100%;
}

.gmap-wrapper.expanded .gmap-overlay,
.gmap-wrapper.expanded .gmap-overlay-text {
  display: none;
}

.gmap-wrapper.expanded .gmap-content {
  display: block;
}

.gmap-wrapper.expanded #gmap {
}

.nav {
  z-index: 5;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.nav-header {
  padding: 16px 24px;
  color: $gray-1;
  font-size: 16pt;
  @include transition(opacity .1s ease-in-out);
}

.nav-elems {
  opacity: 0;
  @include transition(opacity .1s ease-in-out);
}

.nav-elems:hover .nav-elem {
}

.nav-elem {
  position: relative;
  width: 100%;
  padding: 8px 16px;
  border-left: 6px solid $dark-blue;
  cursor: pointer;
  color: $dark-blue;
  font-size: 8pt;
  font-weight: 300;
  @include transition(font .1s ease-in-out, color .1s ease-in-out);
}

.nav-elem:hover {
  color: $dark-blue;
  font-size: 24pt !important;
  @include transition(font .25s ease-in-out, color .25s ease-in-out);
}

.nav-elem:hover {
  opacity: 1 !important;
}

.nav-elem span:first-child {
  display: inline;
}

.nav-elem span:last-child {
  display: none;
}

.nav-elem:hover span:first-child {
  display: none;
}

.nav-elem:hover span:last-child {
  display: inline;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

.timeline-line {
  position: relative;
  display: flex;

  opacity: 0;
  transform: translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(.75s);
}

.wedding-details-wrapper.visible .timeline-line {
  opacity: 1;
  transform: translate(0);
}

.timeline-line:after {
  position: absolute;
  left: 131px;
  content: ' ';
  width: 2px;
  height: 100%;
  margin-right: 16px;
  background: $blue;
  border-radius: 100px;
}

.timeline-elems {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.timeline-elem {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 32px;
}

.timeline-elem-date {
  z-index: 1;
  min-width: 100px;
  max-width: 100px;
  color: $blue;
  font-size: 14pt;
  font-weight: 300;
  text-align: right;

  opacity: 0;
  transform: translateX(-50px) translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(1.25s);
}

.wedding-details-wrapper.visible .timeline-elem-date {
  opacity: 1;
  transform: translate(0);
}

.timeline-elem-dot {
  margin-left: 20px;
  background: $blue;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  border-radius: 100%;
  border: 4px white solid;

  opacity: 0;
  transform: translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(1s);
}

.wedding-details-wrapper.visible .timeline-elem-dot {
  opacity: 1;
  transform: translate(0);
}

.timeline-elem-label {
  z-index: 3;
  width: 100%;
  padding-left: 20px;
  color: $blue;
  font-size: 14pt;
  font-weight: 300;

  opacity: 0;
  transform: translateX(50px) translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(1.25s);
}

.wedding-details-wrapper.visible .timeline-elem-label {
  opacity: 1;
  transform: translate(0);
}

.timeline-elem-label strong {
  display: block;
  color: $dark-blue;
  font-size: 28pt;
}

.timeline-elem-bg-img {
  z-index: 2;
  position: absolute;
  top: -60px;
  left: 25px;
  opacity: 0;
  pointer-events: none;

  @include transition(opacity .25s ease-in-out, transform .15s ease-in-out);
}

.timeline-elem:hover .timeline-elem-bg-img {
  opacity: 1;
}

.timeline-elem-bg-img img {
  @include transition(transform .15s ease-in-out);
}

.timeline-elem:hover .timeline-elem-label {
  color: white;
}

.timeline-elem:hover .timeline-elem-label strong {
  color: white;
}

.timeline-elem-bg-img img {
  opacity: 0;
  @include transition(opacity .5s ease-out);
  @include transition-delay(1.5s);
}

.wedding-details-wrapper.visible .timeline-elem-bg-img img {
  opacity: 1;
}

.timeline-elem-separator {
  z-index: 1;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-left: -19px;
  margin-bottom: 32px;
  background: white;

  opacity: 0;
  transform: translateY(50px);
  @include transition(transform .5s ease-out, opacity .5s ease-out);
  @include transition-delay(1s);
}

.wedding-details-wrapper.visible .timeline-elem-separator {
  opacity: 1;
  transform: translate(0);
}

.timeline-elem-separator-dot {
  background: $blue;
  margin-top: 4px;
  margin-left: 149px;
  min-width: 4px;
  min-height: 4px;
  max-width: 4px;
  max-height: 4px;
  border-radius: 100px;
}

// needs to be last to override styles
@import 'breakpoints';
