# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components/*

# ignote all vender files/folders except for extra-javascripts
/vendor/*
!/vendor/extra-javascripts

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

*.DS_Store

aws-keys.json

.tm_properties

.watchmanconfig

.ember-cli
.env

dump.rdb
